* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(rgba(136, 94, 3, 0.692), rgba(16, 77, 8, 0.37));
}
.container {
  width: 60%;
  margin: auto;
  margin-top: 10px;
  background: linear-gradient(rgba(12, 12, 82, 0.514), rgb(39, 39, 6));
  box-shadow: 5px 5px 5px 2px;
  border-radius: 10px;
  height: 90vh;
}
.card-header {
  padding: 5px;
  background: linear-gradient(rgba(12, 12, 82, 0.514), rgb(39, 39, 6));
  color: rgba(137, 167, 6, 0.945);
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0px 0px 5px;
}

.weather-search input {
  margin: 5px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  color: rgba(59, 71, 3, 0.945);
}
#btn {
  border: none;
  padding: 5px;
  color: rgba(59, 71, 3, 0.945);
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}
label{
  display:none;
}
.card-body {
  height: 250px;
  padding: 10px;
  /* background:linear-gradient(rgba(117, 115, 7, 0.363),rgba(4, 37, 43, 0.466)); */
  color: rgba(173, 173, 9, 0.904);
  padding-left: 10px;
}
#temp {
  font-size: 70px;
  font-weight: bolder;
  padding-left: 20px;
}
#desc {
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 5px;
  padding-left: 20px;
}
.wind-humidity {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.wind {
  border-right: 2px solid rgba(137, 167, 6, 0.945);
  padding-right: 10px;
}
.humidity {
  padding-left: 10px;
}
.place {
  text-align: center;
  margin: 10px;
}
.card-img {
  margin-left: 70px;
  width: 70%;
}
img {
  width: 70%;
}
@media only screen and (max-width: 768px) {
  .card-header {
    display: block;
  }
  .weather-search input {
    width: 70%;
  }
  .container {
    width: 70%;
  }
}
@media only screen and (max-width: 480px) {
  .card-header {
    display: block;
  }
  .weather-search input {
    width: 60%;
  }
  .container {
    margin:0;
    width: 100%;
    height: 100vh;
  }
}
